* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 0;
    background-color: grey;
}

.top{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: aqua;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.top-left a{
    justify-content: left;
    text-decoration: none;
    font-size: 25px;
}

.top-right a{
    display: flex;
    justify-content: end;
    margin-left: 50px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}

.btn{
    color: black;
    background-color: yellow;
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}
#home-page{
    color: darkred;
    display: flex;
    margin-top: 30px;
}

#home-page > .home > h3{
    font-size: 30px;
    line-height: 3rem;
    margin-top: 50px;
    margin-left: 50px;
}

.btn2{
    background-color: yellow;
    color: black;
    margin-left: 120px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.btn3{
    background-color: white;
    color: black;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.home-img{
    background-image: cover;
    margin-left: 50px;
}

.icons{
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#products{
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    background-color: honeydew;
    padding-bottom: 50px;
    padding-top: 30px;
}

.furn-products{
    display: flex;
}

.backg2-img{
    margin-left: 200px;
    margin-top: 30px;
}

.theProducts h3{
    text-align: center;
    padding-top: 30px;
}

.featureProducts p{
    color: black;

}

#products h4{
    margin-top: 50px;
}

#products p{
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    color: maroon;
    margin-bottom: 20px;
    line-height: 3rem;
}

#products ul li{
    display: inline;
    margin-left: 100px;
    margin-top: 10px;
}

.about{
    background-color: antiquewhite;
    padding-bottom: 100px;
    padding-top: 30px;
}

.about h3{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.ourAbout p{
    text-align: center;
    font-size: 25px;
}

#shop{
    float: right;
    margin-right: 600px;
    margin-top: 10px;
    background-color: yellow;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.contact{
    background-color: antiquewhite;
    padding-bottom: 50px;
    text-align: center;
}

.footer{
    background-color: darkslategray;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}




