* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    background-color: grey;
    font-family: sans-serif;
}

.wrapper{
    padding-top: 20px;
    padding-bottom: 30px;
}

.logo a{
    font-size: 22px;
    margin-left: 20px;
    text-decoration: none;
    margin-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: goldenrod;
    padding-top: 30px;
    padding-bottom: 40px;
}

.main-menu{
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    list-style: none;
    font-size: 20px;
}

.main-menu li a{
    padding: 30px;
    list-style-type: none;
    text-decoration: none;
}

.dropdown-nav{
    padding: 16px;
    font-size: 20px;
    border: none;
}
  
.dropdown{
    position: relative;
    display: inline-block;
    margin-right: 80px;
}
  
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-menu ul li a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-menu ul li a:hover{
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-menu{
    display: block;
}
  
.dropdown:hover .dropdown-nav{
    background-color: #3e8e41;
}


#btn{
    color: black;
    background-color: yellow;
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}
#home-page{
    color: darkred;
    display: flex;
    margin-top: 30px;
}

#home-page > .home > h3{
    font-size: 30px;
    line-height: 3rem;
    margin-top: 50px;
    margin-left: 100px;
}

#btn3{
    background-color: goldenrod;
    color: black;
    margin-top: 10px;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.order {
    background-color: goldenrod;
    color: black;
    padding: 15px 15px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: static;
    width: 100px;
    border-radius: 7px;
}

.form {
    display: none;
    position: absolute;
    z-index: 9;
    margin-left: 40%;
    margin-top: 25%;
    font-size: 25px;
}

#form-container {
    max-width: 230px;
    padding: 10px;
    background-color: white;
    margin-left: 50px;
    
}

#form-container input[type=text]:focus, #form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

#form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

#form-container .btn-cancel {
    background-color: red;
}

#form-container .btn:hover, .order:hover {
    opacity: 1;
}

.home-img img{
    margin-left: 150px;
}

h2 {
    margin-left: 100px;
    background-color: yellow;
    width: fit-content;
    padding: 10px;
}

.icons{
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#products{
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.furn-products{
    display: flex;
}

.backg2-img{
    margin-left: 200px;
    margin-top: 30px;
}

.featureProducts h3{
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
}

.featureProducts p{
    color: black;

}

#products h4{
    margin-top: 50px;
}

#products p{
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    color: maroon;
    margin-bottom: 20px;
    line-height: 3rem;
}

#products ul li{
    display: inline;
    margin-left: 100px;
    margin-top: 10px;
}

.about{
    padding-bottom: 100px;
    padding-top: 30px;
}

.about h3{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.ourAbout p{
    text-align: center;
    font-size: 25px;
}

#shop{
    float: right;
    margin-right: 600px;
    margin-top: 10px;
    background-color: yellow;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.contact{
    padding-bottom: 50px;
    text-align: center;
}

img{
    margin-left: 30px;
}

.content{
    margin-left: 30px;
}

#furniture-list {
    list-style-type: none;
    margin-top: 100px;
    width: 90%;
    display: grid;
    grid-gap: 30px;
    grid-template: auto / repeat(auto-fit, minmax(350px, 1fr));
    padding-left: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    margin-bottom: 50px;
}

.news{
    margin-left: 30px;
    margin-top: 30px;
}

.newsletter{
    margin-left: 30px;
}

.soci{
    margin-right: 30px;
}







